<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Devil Admin - 登录</title>
    <meta name="keywords" content="Devil Admin">
    <meta name="description" content="Devil Admin">
    <css th:include="common/includeCss :: includeCss"></css>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>Devil Admin</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>Devil Admin</strong></h4>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" onsubmit="return false;" id="loginForm">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到Devil Admin</p>
                <input type="text" class="form-control uname" name="account" placeholder="用户名"/>
                <input type="password" class="form-control pword m-b" name="password" placeholder="密码"/>
                <a href="">忘记密码了？</a>
                <button class="btn btn-success btn-block" onclick="login()">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            <footer th:include="common/footer :: footer"></footer>
        </div>
    </div>
</div>
</body>

<div th:include="common/includeScript :: includeScript"></div>
<script th:src="@{/js/login.js}" type="text/javascript"></script>
</html>